.item_info {
  width: 100%;
  display: flex;
  gap: 8px;
  align-items: center;
}

.img_div {
  width: 100px;
}

.img_div > img {
  width: 100%;
}

.cart_table {
  text-align: center;
  width: 100%;
  font-size: 0.8rem;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.cart_table td {
  padding: 6px;
  vertical-align: middle;
}

.cart_table > thead {
  background-color: #43a047;
  color: white;
  text-align: center;
}

.cart_table > thead > tr > td {
  padding: 5px;
}

.cart_table tr, .cart_table td {
  border: 1px solid white;
}

.cart_table > tbody tr:nth-child(odd) {
  background-color: #c8e6c9;
}

.cart_table > tbody tr:nth-child(even) {
  background-color: #e8f5e9;
}

.buy_div {
  display: flex;
  justify-content: end;
  gap: 10px;
  margin: 20px 0px;
}

.buy_div > div {
  display: flex;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.buy_div > div > p:first-child {
  background-color: #2e7d32;
  color: white;
}

.buy_div > div p:last-child {
  border-bottom: 1px solid #2e7d32;
}

.buy_div p {
  padding: 15px;
}

.cnt_div {
  display: flex;
  gap: 8px;
}