.img_div {
  width: 100px;
}

.img_div > img {
  width: 100%;
}

.cart_table {
  width: 100%;
}

.cart_table > thead {
  background-color: #0d6efd;
  color: white;
  text-align: center;
}

.cart_table > thead > tr > td {
  padding: 5px;
}

.cart_table tr, .cart_table td {
  border: 1px solid white;
}

.cart_table > tbody tr:nth-child(odd) {
  background-color: #b4d2ff;
}

.cart_table > tbody tr:nth-child(even) {
  background-color: #d3e4fd;
}

