.container {
  width: 500px;
  margin: 100px auto;
}

.container input, .container button {
  width: 100%;
  height: 50px;
  margin: 10px 0px;
}

.container input {
  padding-left: 50px;
  font-size: 1.1rem;
}

.container button {
  font-size: 1.2rem;
  background-color: lightseagreen;
  color: white;
  border: 1px solid lightgray;
}

.container button:hover {
  cursor: pointer;
}

.input_login {
  position: relative;
}

.input_login > span {
  position: absolute;
  top: 27px;
  left: 15px;
  color: gray;
}