<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<!-- namespace에는 xml파일과 연결할 Mapper interface 파일명을 패키지를 포함하여 적어주세요 -->
<mapper namespace="com.green.db_board.mapper.ReplyMapper">
	<resultMap id="reply" type="com.green.db_board.dto.ReplyDTO">
    <id column="REPLY_NUM" property="replyNum" />
    <result column="CONTENT" property="content" />
    <result column="WRITER" property="writer" />
    <result column="REG_DATE" property="regDate" />
    <result column="BOARD_NUM" property="boardNum" />
<!--    <association property="boardDTO" resultMap="board" />-->
  </resultMap>
  <select id="getReplyList" resultMap="reply">
    SELECT
      REPLY_NUM
      , R.CONTENT
      , R.WRITER
      , REG_DATE
      , R.BOARD_NUM
    FROM BOARD_REPLY R INNER JOIN BOARD B
    ON R.BOARD_NUM = B.BOARD_NUM
    WHERE R.BOARD_NUM = #{boardNum}
    ORDER BY REG_DATE DESC
  </select>
  <insert id="regReply">
    INSERT INTO BOARD_REPLY (
      BOARD_NUM
      , WRITER
      , CONTENT
    ) VALUES (
      #{boardNum}
      , #{writer}
      , #{content}
    )
  </insert>
  <!--댓글 개수 조회-->
  <select id="getReplyCnt" resultType="int">
    SELECT REPLY_NUM
    FROM BOARD_REPLY
  </select>
  <delete id="deleteReply">
    DELETE FROM BOARD_REPLY
    WHERE REPLY_NUM = #{replyNum}
  </delete>
</mapper>































