.d1{
  border: 1px solid black;
  /* 안쪽 여백(상하좌우) */
  padding: 20px;
}

.d2{
  border: 1px solid black;
  /* 상하, 좌우 */
  padding: 20px 50px;
}

.d3{
  border: 1px solid black;
  padding-top: 70px;
  padding-bottom: 99px;
  padding-left: 48px;
  padding-right: 7000px;
}

.d4{
  border: 1px solid black;
  margin: 20px;
}

.d5{
  border: 1px solid black;
  padding: 30px;
  margin: 50px;
}
/* 
아래쪽 마진과 위쪽 마진이 겹칠 때 큰 쪽만 적용됨
ex) 50px 100px는 100px이 적용됨
*/