*{
  box-sizing: border-box;
}

.container{
  border: 1px solid black;
  margin: 30px auto;
  width: 300px;
  padding: 0px 20px;
}

/* container 클래서 안의 자손 p 태그 */
.container p{
  margin: 0px;
}
.container>div{
  margin-bottom: 8px;
}

/* 
속성선택자 : 속성값이 동일한 태그만 선택
input 태그 중에서 type속성의 값이 text인 것만 선택
*/
input[type="text"],[type="email"],[type="password"] {
  width: 100%;
  padding: 6px;
}

hr{
  margin-bottom: 20px;
}

.intro{
  font-size: 0.7em;
}

.intro>span{
  text-decoration: underline;
}

button{
  background-color: dodgerblue;
  color: white;
  border: none;
  width: 100%;
  padding: 6px 0px;
}

.join{
  text-align: center;
  font-size: 0.8rem;
  margin: 10px 0px;
}