.container{
  width: 1200px;
  margin: 0px auto;
}

.header{
  height: 100px;
  background-color: #0c51a6;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header>ul{
  display: flex;
  width: 600px;
  justify-content: space-around;
  background-color: #0a4288;
  padding: 16px 0px;
}

.banner{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner>img{
  width: 100%;
  height: 100%;
  display: block;
}

.banner>div{
  position: absolute;
  background-color: rgb(0, 0, 0, 0.4);
  color: white;
  padding: 20px 50px;
  text-align: center;
}

.content{
  display: flex;
}

.content>div{
  border: 1px solid black;
  width: 100%;
}

.notice{
  background-color: #e5f1ff;
  padding: 10px;
}

.notice>h2{
  margin-bottom: 8px;
}

.notice>table{
  width: 100%;
  font-size: 0.9rem;
}

td{
  padding: 4px 0px;
}

tr>td:last-child{
  text-align: right;
}

.reserve{
  position: relative;
}

.reserve>div{
  position: absolute;
  top: 50%;
  left: 50%;
  /* 요소 크기의 반만큼 가로, 세로 이동 */
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.footer{
  display: flex;
  background-color: lightgray;
  align-items: center;
  height: 100px;
}

.footer>h1{
  width: 20%;
}

.footer>div{
  width: 80%;
  text-align: center;
}

.footer ul{
  display: inline-flex;
  gap: 16px
  ;
}

/*
  y,g,j 등의 아래쪽 부분이 남는 부분 때문에 inline 요소는 항상 아래쪽에 여백이 남아있음
  없애려면 display: block;으로 설정한다.
*/