body{
  background-color: lightblue;
}

.container{
  margin: 30px auto;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container>div{
  margin: 5px;
  display: flex;
  background-color: white;
  border-radius: 5px;
  transition: all 1s;
  width: 400px;
  height: 100px;
}

.container>div:hover{
  top: 450px;
  height: 150px;
}

.container>div>div{
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img{
  width: 80px;
  border-radius: 50%;
}

.name{
  justify-content: center;
}