table{
  width: 1000px;
  margin: auto;
  margin-top: 30px;
  text-align: center;
}

thead{
  border-top: 2px solid black;
  border-bottom: 1px solid #dddddd;
}

thead td{
  padding: 10px;
}

tbody>tr{
  border-bottom: 1px solid #dddddd;
}

tbody td{
  padding: 10px 30px;
}

tbody>tr>td:only-child{
  text-align: left;
}

.yellow{
  background-color: blanchedalmond;
  color: goldenrod;
  width:50px;
  height: 30px;
}