.Test4_container {
  margin: 30px;
  display: flex;
  gap: 10px;
}

.Test4_container > div {
  width: 100px;
  height: 100px;
  background-color: crimson;
  color: white;
  font-size: 2.5rem;
  text-align: center;
  line-height: 100px;
}