.common_btn {
  color : white;
  background-color: #333333;
  border-radius: 7px;
  border: none;
  padding: 3px;
}

.common_btn:hover {
  cursor: pointer;
  background-color: #777777;
  transition: all 0.3s;
}

.common_btn:active {
  background-color: #555555;
}

.disabled {
  background-color: #cccccc;
  cursor: default !important;
}

.disabled:hover {
  background-color: #cccccc;
}

.disabled:active {
  background-color: #cccccc;
}