<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<!-- namespace에는 xml파일과 연결할 Mapper interface 파일명을 패키지를 포함하여 적어주세요 -->
<mapper namespace="com.home.login_practice.mapper.MemberMapper">
	<resultMap id="member" type="com.home.login_practice.dto.MemberDTO">
    <id column="ID" property="id" />
    <result column="PW" property="pw" />
    <result column="NICKNAME" property="nickname" />
    <result column="EMAIL" property="email" />
    <result column="BIRTHDAY" property="birthday" />
    <result column="HEIGHT" property="height" />
    <result column="WEIGHT" property="weight" />
    <result column="GENDER" property="gender" />
    <result column="TEL" property="tel" />
    <result column="NATIONALITY" property="nationality" />
    <result column="JOIN_DATE" property="joinDate" />
  </resultMap>
  <insert id="regMember">
    INSERT INTO LOGIN_PRACTICE (
      ID
      , PW
      , NICKNAME
      , EMAIL
      , BIRTHDAY
      , HEIGHT
      , WEIGHT
      , GENDER
      , TEL
      , NATIONALITY
      , JOIN_DATE
    ) VALUES (
      #{id}
      , #{pw}
      , #{nickname}
      , #{email}
      , #{birthday}
      , #{height}
      , #{weight}
      , #{gender}
      , #{tel}
      , #{nationality}
      , #{joinDate}
    );
  </insert>
</mapper>































