.container {
  width: 500px;
  margin: 30px auto;
}

input[type='text'], input[type='number'], textarea, select {
  width: 100%;
}

textarea {
  resize: none;
}

.btn_div {
  text-align: right;
}

.container div {
  margin: 10px 0px;
}

.btn_div > button {
  margin: 0px;
}