.container {
  width: 1280px;
  margin: auto;
}

.header_div {
  height: 20vh;
  border: 3px solid #43a047;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(67, 160, 71, 0.2);
}

.main {
  display: flex;
  height: 80vh;
}

.side {
  width: 20%;
}

.content {
  width: 80%;
  padding: 20px;
  padding-bottom: 0px;
}