.container {
  width: 1280px;
  margin: auto;
}

.header_div {
  height: 20vh;
  border: 3px solid crimson;
}

.main {
  display: flex;
  height: 80vh;
}

.side {
  width: 20%;
}

.content {
  width: 80%;
  border: 3px solid greenyellow;
}