<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<!-- namespace에는 xml파일과 연결할 Mapper interface 파일명을 패키지를 포함하여 적어주세요 -->
<mapper namespace="com.green.backend_shop.buy.mapper.BuyMapper">
	<resultMap id="buy" type="com.green.backend_shop.buy.dto.BuyDTO">
    <id column="BUY_NUM" property="buyNum" />
    <result column="BOOK_NUM" property="bookNum" />
    <result column="MEM_ID" property="memId" />
    <result column="BUY_DATE" property="buyDate" />
    <result column="BUY_CNT" property="buyCnt" />
  </resultMap>
  <!--도서 상세 페이지 - 구매하기 -->
  <insert id="insertBuy">
    INSERT INTO SHOP_BUY (
      BOOK_NUM
      , MEM_ID
      , BUY_CNT
    ) VALUES (
      #{bookNum}
      , #{memId}
      , #{buyCnt}
    )
  </insert>
  <!--장바구니 페이지 - 구매하기-->
  <insert id="buyAll">
    INSERT INTO shop_buy (BOOK_NUM, MEM_ID, BUY_CNT)
    VALUES
    <foreach collection="cartNumList" item="cartNum" separator=",">
      (
        (SELECT BOOK_NUM FROM shop_cart WHERE CART_NUM = #{cartNum})
        , #{memId}
        , (SELECT CART_CNT FROM shop_cart WHERE CART_NUM = #{cartNum})
      )
    </foreach>
  </insert>
</mapper>































