.container {
  width: 100%;
}

.container > ul {
  display: flex;
  background-color: black;
}

.container > ul > li {
  width: 100%;
  text-align: center;
  color: white;
  border: 1px solid white;
  padding: 10px;
}

.container > ul > li:hover {
  cursor: pointer;
}