.container {
  width: 100%;
}

.container > ul {
  display: flex;
  background-color: black;
}

.container > ul > li {
  width: 100%;
  text-align: center;
  color: white;
  border: 1px solid white;
  font-size: 1.2rem;
}

.container > ul > li > a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.container > ul > li > a > p:hover {
  background-color: #888888;
  transition: all 0.3s;
}

.container > ul > li > a > p {
  padding: 8px;
}

.active > p {
  background-color: #777777;
  padding: 8px;
}