.reg_info_div {
  display: flex;
  justify-content: space-between;
  margin: 0px 10px;
  margin-bottom: 10px;
}

.reg_info_div select, .reg_info_div input {
  padding: 5px;
  width: 200px;
  margin-left: 10px;
  align-self: flex-start;
}

.btn_div {
  text-align: right;
  margin-right: 10px;
}

.reg_info_div > div {
  display: flex;
  align-items: center;
}

.input_info > p {
  margin-left: 12px;
  height: 15px;
}

.reg_info_div > div > p {
  align-self: flex-start;
  margin-top: 6px;
}