.board_detail_container {
  width: 1000px;
  text-align: center;
  margin: 30px auto;
}

.board_detail_table {
  width: 100%;
  margin-top: 15px;
  text-align: center;
  font-size: 1.2rem;
}

.board_detail_table tr, td {
  border: 1px solid white;
  padding: 7px;
}

.board_detail_table td:nth-child(odd) {
  background-color: lightgray;
  vertical-align: middle;
}

.board_detail_table td:nth-child(even) {
  background-color: lightcyan;
}

.board_detail_table tr:last-child {
  height: 100px;
}

.align_left {
  text-align: left;
}

.reg_reply_div {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.reg_reply_div > button {
  margin: 0px;
}

.reg_reply_div > input {
  margin-left: 5px;
  padding: 5px;
}

.reg_reply_div > input:first-child {
  width: 100px;
}

.reg_reply_div > input:nth-child(2) {
  width: 300px;
}

.reply_list_div {
  width: 500px;
  margin: auto;
  border-bottom: 1px solid darkgray;
}

.reply_writer_info {
  display: flex;
  gap: 15px;
}

.reply_content_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}