.board-detail-container {
  width: 1000px;
  text-align: center;
  margin: 30px auto;
}

.board-detail-table {
  width: 100%;
  margin-top: 15px;
  text-align: center;
  font-size: 1.2rem;
}

.board-detail-table tr, td {
  border: 1px solid white;
  padding: 7px;
}

.board-detail-table td:nth-child(odd) {
  background-color: gray;
  vertical-align: middle;
}

.board-detail-table td:nth-child(even) {
  background-color: aliceblue;
}

.board-detail-table tr:last-child {
  height: 100px;
}
