.container {width: 700px;
  margin: 30px auto;
  text-align: center;
}

table {
  width: 100%;
  margin-top: 15px;
  text-align: center;
  font-size: 1.2rem;
  background-color: powderblue;
}

table tr, td {
  border: 1px solid white;
  padding: 7px;
}

td:first-child {
  vertical-align: top;
}

textarea {
  width: 100%;
  resize: none;
}

.input_td {
  text-align: left;
}

.input_td > input {
  width: 400px;
}