<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<!-- namespace에는 xml파일과 연결할 Mapper interface 파일명을 패키지를 포함하여 적어주세요 -->
<mapper namespace="com.green.backend_student.mapper.StuMapper">
	<resultMap id="student" type="com.green.backend_student.dto.StuDTO">
    <id column="CLASS_NAME" property="className" />
    <result column="STU_NUM" property="stuNum" />
    <result column="STU_NAME" property="stuName" />
    <result column="STU_AGE" property="stuAge" />
  </resultMap>

  <select id="getClassName" resultMap="student">
    SELECT CLASS_NAME
    FROM CLASS_INFO
  </select>

  <select id="getStuList" resultMap="student">
    SELECT
      STU_NUM
      , STU_NAME
      , STU_AGE
    FROM STU_INFO
  </select>
</mapper>

