<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h3>글쓰기 페이지</h3>
  <form action="/board/write" method="post">
    <p>
      제목
      <input type="text" name="title">
    </p>
    <p>
      작성자
      <input type="text" name="writer">
    </p>
    <p>
      내용
      <textarea name="content" cols="50" rows="5" style="resize: none;"></textarea>
    </p>
    <input type="submit" value="글쓰기">
  </form>
</body>
</html>