.btn {
  color: white;
  border: none;
  padding: 4px 10px;
  border-radius: 5px;
  font-size: 0.8rem;
  transition: all 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.btn:hover {
  transform: translateY(-1px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.blue {
  background-color: #0d6efd;
}

.blue:hover {
  cursor: pointer;
  background-color: #0c5bd1;
}

.gray {
  background-color: #95a2ad;
}

.gray:hover {
  cursor: pointer;
  background-color: #69727a;
}

.green {
  background-color: #2e7d32;
}

.green:hover {
  cursor: pointer;
  background-color: #1b5e20;
}

.disabled{
  opacity: 0.3;
  cursor: default !important;
  transform: none !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) !important;
}
