.container {
  width: 500px;
  margin: 50px auto;
}
table {
  width: 100%;
  text-align: center;
}
thead {
  background-color: blue;
  color: white;
}
tbody > tr:nth-child(odd) {
  background-color: lightblue;
}
tbody > tr:nth-child(even) {
  background-color: aliceblue;
}
button {
  background-color: blue;
  width: 120px;
  height: 30px;
  border-radius: 10px;
  color: white;
  border: none;
  font-size: 17px;
}
button:hover {
  cursor: pointer;
}
.btn-div {
  text-align: right;
  margin-bottom: 10px;
}